<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <div class="navbar-item has-text-weight-bold">
      My Eleventy Blog
    </div>
  </div>
  <div class="navbar-end">
    <a href="/" class="navbar-item">
      twitter
    </a>

    <a href="/about" class="navbar-item">
      github
    </a>
      <a href="/about" class="navbar-item">
      telegram
    </a>
  </div>
  <div class="navbar-item has-text-weight-bold">
  {{ site.title }}
</div>
</nav>